!!! 5
%html
  %head
    %title
    = stylesheet_link_tag "application", :media => 'screen, projection'
    = stylesheet_link_tag "print", :media => 'print'
    = csrf_meta_tag
  %body
    %header

    %section#content
      #flash
        - flash.each do |key, value|
          %div{ class: key }= value

      = yield

    %footer

    = javascript_include_tag "application"
    = yield :javascripts