!!! 5
%html
  %head
    %title
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag "application", :media => 'screen, projection'
    = stylesheet_link_tag "print", :media => 'print'
    = csrf_meta_tag
  %body
    %header
      %nav.navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to "", root_path, class: "brand"

            %ul.nav.pull-right
              %li
                - if user_signed_in?
                  = link_to "Sair", destroy_user_session_path, method: :delete
                - else
                  = link_to "Login", new_user_session_path

    %section
      #flash
        - flash.each do |key, value|
          %div{ class: "alert alert-#{key}" }= value

      #content= yield

    %footer

    = javascript_include_tag "application"
    = yield :javascripts