!!! XML
!!!
%html
  %head
    %title= My application
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
    = javascript_include_tag :all
    = csrf_meta_tag
  %body
    #container
      #header
      #sidebar
      #content
      #footer
